/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: #10292F;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container */
.card-container {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 300px 20px 300px 20px 300px 20px;
}
.col1{
    position: relative;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 70px  70px 70px 15px 70px 70px 70px 70px 70px 70px ;
    grid-template-columns: 300px 50px 300px 50px 300px 50px;
    border-color: 3px solid gold;
}
.col2{
    position: relative;
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: 300px 50px 300px 50px 300px 50px;
    grid-template-rows: 70px  70px 70px 70px 70px 15px 70px 70px 70px 70px;
    border-color: 3px solid gold;
}
.col3{
    position: relative;
    grid-column: 5 / 6;
    display: grid;
    grid-template-columns: 300px 50px 300px 50px 300px 50px;
    grid-template-rows: 70px  70px 70px 70px 70px 70px 15px 70px 70px 70px;
    border-color: 3px solid gold;
}
.card1 {
    position: relative;
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    background-color: #939c5e;
    border-radius: 20px;
    background-image: url(pictures/Screen_Shot_2025-01-12_at_12.47.51_AM-removebg-preview.png);
    background-size: 175px 100px;
    background-repeat: no-repeat;
    background-position: center ;
    display: flex;
    align-items: flex-end;
}

.card2 {
    position: relative;
    grid-row: 1/6;
    grid-column: 1/ 2;
    background-image: url("pictures/Screen Shot 2024-10-02 at 3.44.26 AM.png");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
}

.card3 {
    position: relative;
    grid-row: 1/7;
    grid-column: 1/ 2;
    background-image: url("pictures/Screen Shot 2024-10-02 at 2.10.41 AM.png");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
}

.card4 {
    position: relative;
    grid-row: 5/10;
    grid-column: 1/2;
    background-image: url("pictures/Screen Shot 2024-10-02 at 3.53.12 AM.png");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
}

.card5 {
    position: relative;
    grid-row: 7/10;
    grid-column: 1/2;
    background-image: url("pictures/Screen Shot 2024-10-02 at 3.57.08 AM.png") ;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
}

.card6 {
    position: relative;
    grid-row: 8/10;
    grid-column: 1/2;
    background-image: url("pictures/Screen Shot 2024-10-02 at 4.18.58 AM.png");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
}

.card:hover {
    transform: translateY(-10px);
}

.card-content {
    padding: 20px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-button {
    border-color:  3px solid #E5F690;
    text-align: center;
    bottom: 0; 
    left: 50%; 
    background-color: #10292F;
    color: #E5F690;
    text-decoration: none;
    padding: 10px 20px; 
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transform: translateY(7px);
}


.card-button:hover {
    background-color: #E5F690;
    color: #10292F;
}