*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #10292F;
    overflow: hidden ;
}

section
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

span{
    position: absolute;
    top: -10;
    left: calc(10vw + 80vw * random());
    width: 5px;
    height: 5px;
    background: snow;
    border-radius: 50%;
    /* box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(red, green, blue, 0.1), 0 0 0 20px rgba(red, green, blue, 1); */
    animation: animate 6s linear infinite;
}

span::before
{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);   
}

@keyframes animate
{
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(315deg) translateX(-1900px);
        opacity: 0;
    }
}


span:nth-child(1)
{
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0;
    animation-duration: 1s;
}
span:nth-child(2)
{
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 1s;
}
span:nth-child(3)
{
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0.9s;
    animation-duration: 2s;
}
span:nth-child(4)
{
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}

span:nth-child(2)
{
    top: 0;
    right: 480px;
    left: initial;
    animation-delay: 0.7s;
    animation-duration: 1s;
}
span:nth-child(3)
{
    top: 0;
    right: 90px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 1.6s;
}
span:nth-child(4)
{
    top: 0;
    right: 680px;
    left: initial;
    animation-delay: 1.6s;
    animation-duration: 1.5s;
}

span:nth-child(5)
{
    top: 0;
    right: 130px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.7s;
}

span:nth-child(6)
{
    top: 0;
    right: 150px;
    left: initial;
    animation-delay: 0.7s;
    animation-duration: 1s;
}
span:nth-child(7)
{
    top: 0;
    right: 50px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2;
}
span:nth-child(8)
{
    top: 0;
    right: 980px;
    left: initial;
    animation-delay: 1.6s;
    animation-duration: 1.9s;
}

span:nth-child(9)
{
    top: 0;
    right: 350px;
    left: initial;
    animation-delay: 1.1s;
    animation-duration: 1.9s;
}

span:nth-child(10)
{
    top: 0;
    right: 170px;
    left: initial;
    animation-delay: 0.7s;
    animation-duration: 2.7s;
}

span:nth-child(11)
{
    top: 0;
    right: 680px;
    left: initial;
    animation-delay: 0.5s;
    animation-duration: 1.3s;
}
span:nth-child(12)
{
    top: 0;
    right: 90px;
    left: initial;
    animation-delay: 0.9s;
    animation-duration: 2.2;
}
span:nth-child(13)
{
    top: 0;
    right: 280px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.8s;
}
span:nth-child(14)
{
    color: brown;
    top: 0;
    right: 900px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 2.9s;
}
span:nth-child(15)
{
    top: 0;
    right: 1100px;
    left: initial;
    animation-delay: 1.9s;
    animation-duration: 2.2;
}
span:nth-child(16)
{
    top: 0;
    right: 1080px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.8s;
}
span:nth-child(17)
{
    color: brown;
    top: 0;
    right: 1000px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 0.9s;
}
span:nth-child(18)
{
    top: 0;
    right: 910px;
    left: initial;
    animation-delay: 1.3s;
    animation-duration: 2.2;
}
span:nth-child(19)
{
    top: 0;
    right: 980px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.8s;
}
span:nth-child(20)
{
    /* color: brown; */
    top: 0;
    right: 900px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 0.9s;
}